<header>
  <div class="fullhead">
    <div class="headname">
      <h1>Lina Breslav</h1>
      <h2>designer | developer | researcher</h2>
      <h3>{</h3>
    </div>
    <div class="socialmediaicons">
      <ul>
        <li>
          <a class="linkedinicon" href="https://www.linkedin.com/in/linabreslav">
            <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="twittericon" href="https://twitter.com/linabreslav">
            <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="githubicon" href="https://github.com/linabreslav">
            <i class="fa fa-2x fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<nav>
  <ul>
    <li><a href="#">about</a></li>
    <li><a href="#">projects</a></li>
    <li><a href="#">blog</a></li>
    <li><a href="#">research</a></li>
  </ul>
</nav>
